################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Programs-CS/.vs/Programs-CS/v15
/Programs-CS/bin/Debug
/Programs-CS/obj/Debug
/.vs
